!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZIP UP</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{layout/header :: header}"></div>

<div class="content">
  <main>
    <!-- 배너 -->
    <div class="banner">
      <img src="/images/img/mainBanner.png" alt="mainBanner" style="width: 100%; height: auto;">
      <!-- 상품 검색 -->
      <form action="/productList" method="get">
        <input type="text" name="productName" placeholder="상품명 검색"/>
        <button type="submit">검색</button>
      </form>
    </div>

    <!-- 검색 결과 -->
    <div id="productList">
      <ul>
        <th:block th:each="product : ${products}">
          <li>
            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.productName}"></a>
            <!-- 상품명을 클릭하면 상세페이지로 -->
          </li>
        </th:block>
      </ul>
    </div>

    <!-- 상품 리스트 -->
    <div th:replace="~{productList :: productList}"></div>
  </main>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
